- name: Deploy nginx
  hosts: localhost
  connection: local
  become: false
  tasks:
    - name: "Template initadmin"
      ansible.builtin.template:
        src: templates/initadmin.py.j2
        dest: ~funicello/Desktop/dsereviews/files/webapp/reviews/management/commands/initadmin.py
        mode: '0644'

    - name: "Template django settings"
      ansible.builtin.template:
        src: templates/settings.py.j2
        dest: ~funicello/Desktop/dsereviews/files/webapp/djangoapp/settings.py
        mode: '0644'

    - name: "Install python requirements"
      ansible.builtin.pip:
        requirements: ~funicello/Desktop/dsereviews/files/webapp/requirements.txt

    - name: "Make migrations"
      ansible.builtin.command: python ~funicello/Desktop/dsereviews/files/webapp/manage.py makemigrations

    - name: "Migrate"
      ansible.builtin.command: python ~funicello/Desktop/dsereviews/files/webapp/manage.py migrate --no-input

    - name: "Initadmin"
      ansible.builtin.command: python ~funicello/Desktop/dsereviews/files/webapp/manage.py initadmin 

    - name: "Runserver"
      ansible.builtin.command: python ~funicello/Desktop/dsereviews/files/webapp/manage.py runserver 0.0.0.0:8000
